<div class=" m-5 border-2 w-full p-4">
  <h3 class="font-bold mb-4">Post #<%= i + 1 %><%=post.title%></h3>
  <p class="mb-4"><%= post.text %></p>
  <p class="text-end">Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></p>
</div>